@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: darkgreen;
}

body {
    background-color: lightyellow;
}

.navbar {
    background-color: darkgreen;
}

.h2 {
    color: lightyellow;
}

.btn {
    background-color: lightgray;
}

.row {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.border {
    width: 100%;
}

.city-title {
    margin: 16px 0;
}

.currentWeather {
    font-weight: 400;
}

.forecastHeader {
    text-align: center;
    font-weight: 700;
}

.forecastDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dayHeader {
    font-weight: 500;
}

.forecastRow {
    margin: 10px 0;
}

.forecastWeather {
    font-weight: 300;
}